.main-list-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(2, auto);
}

.grid-item {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.grid-item img {
    object-fit: cover;
    max-width: 100%;
    height: 200px;
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: #405759
}

a:hover {
    color: #0D0D0D;
}

a:visited {
    color: #6D8C87
}

body {
    margin: 0;
    padding: 0;
    font-family: "Dosis";
}

footer {
    padding-top: 48px;
    padding-right: 24px;
    padding-bottom: 48px;
    padding-left: 24px;
    background-color: #BFD9C3;
    font-size: medium;
}

header{
    background-color: #405759;
    border-bottom: 1px #2A3A40;
}

h1 {
    color:#405759;
}

img {
    height: 200px;
}

main {
    padding: 16px;
}

nav {
    border-bottom: 1px black;
    padding: 16px
}

thead {
    background-color: #6D8C87
}

tr:nth-child(even) {
    background-color: #BFD9C3
}
